@font-face {
    font-family: 'cinzelBold';
    src: url('../fonts/cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'cinzelReg';
    src: url('../fonts/cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    display: flex;
    height: 100%;
}

body {
    display: flex;
    margin:0px;
}

h2 {
    font-family: 'cinzelBold';
}

p {
    font-family: 'cinzelReg';
}

.logoSide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.logoText {
    font-family: 'cinzelBold';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:25%;
    background-color:  #1a1818af;
    height:3em;
    width: 400px;
    font-size: 32pt;
    padding: 0px;
    color: rgb(210, 228, 244);
}

#prettyImg {
    margin-left:0px;
    margin-top:0px;
    margin-bottom: 0px;
    height: 100%;
    width: 25em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding-left: 0px;
    width: 50%;
    border: none;
}

input:focus {
    box-shadow: 2px 3px 5px #0000004F;
    outline :blue solid 0.5px;
}

input {
    border-radius: 3px;
    border: 1px solid #cfc5c5;
    height: 22px;
}

input:invalid {
    outline: red solid 0.5px;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.formHeader {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    width: 70%;
    margin-bottom: 2em;
}

.caption {
    font-size: 15pt;
    font-family: 'cinzelBold';
}

.formBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:30px;
    padding-top: 20px;
    box-shadow: 10px -2px 7px #1c1b1b3f;
}

.divAndFooter {
    display: flex;
    flex-direction: column;

}

#createAcc {
    width: 12em;
    height: 2.5em;
    border-radius: 5px;
    background-color: #486178;
    color:rgb(210, 228, 244);
}

.logIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

a {
    color:#486178;
    text-decoration: none;
    font-family: 'cinzelReg';
}

label {
    font-size: 8pt;
    font-weight: 600;
    color: #486178;
    font-family: 'cinzelReg';
}


